html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  align-items: center;
  background-color: #0f5f60;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  min-height: 100vh;
}

main {
  align-items: center;
  background: white;
  display: grid;
  height: 600px;
  justify-content: center;
  width: 400px;
  text-align: center;

  grid-template-columns: 1fr;
  grid-template-rows: 2fr 50px 1fr 1.4fr 1fr;
  grid-template-areas:
  "photo"
  "name"
  "rating"
  "price"
  "contact"
}

#photo {
  grid-area: photo;
  text-align: center;
}

#photo p {
  color: lightgray;
  font-size: 1.4rem;
  padding: 1rem 2rem 0 0;
  margin: 0;
  text-align: right;
}

#profile-photo {
  border-radius: 50%;
  border: 3px solid #66d189;
  height: 150px;
  width: 150px;
}

#photo h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}


#rating {
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 2.4rem;
  grid-area: rating;
  height: 100%;
  text-align: center;
}

#stars {
  color: #f7dd2e;
}

#star-outline {
  color: lightgray;
}

#about {
  display: none;
}

#price {
  display: flex;
  flex-direction: column;
  grid-area: price;
  text-align: center;
}

h1, p {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
  font-weight: 200;
}

#contact {
  display: flex;
  grid-area: contact;
  height: 100%;
}

#contact > div{
  align-content: center;
  color: white;
  font-size: 6rem;
  text-align: center;
  width: 50%;
}

#contact > div:first-child {
  background:#66d189;
}

#contact > div:last-child {
  background: #5abd7c;
}

@media only screen and (min-width: 1024px) {
main {
  background: rgb(240, 240, 240);
  display: grid;
  height: 350px;
  width: 600px;
  text-align: left;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "photo name"
  "photo rating"
  "photo about"
  "contact price"
}

#photo {
  background-color: white;
  align-items: center;
  height: 100%;
}

#profile-photo {
  height: 150px;
  margin: 1rem 0 1rem 1rem;
  width: 150px;
}

#photo p {
  color: lightgray;
  display: flex;
  float: left;
  font-size: 1.4rem;
  margin: 1.5rem;
}

#name {
  grid-area: name;
  margin: 1.5rem 0 0 2rem;
}

#rating {
  text-align: left;
  padding: 0;
}

#rating p:last-child {
  margin-bottom: 5px;
  margin-left: 2rem;
}

#stars {
  padding-left: 2rem;
}

#about {
  display: flex;
  grid-area: about;
  padding: 2rem;
  height: 100%;
}

#about > p {
  border-left: 0.3rem solid #5abd7c;
  padding-left: 1rem;
  color: darkgray;
  font-size: 1.8rem;
}

#price {
  margin-left: 2rem;
  text-align: left;
}

#price > h1 {
  font-size: 1.6rem;
}

#price > p {
  font-size: 2rem;
}
}